
<div *ngIf="emails | async as e">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Title</th>
                <th scope="col">Sender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let email of e" routerLink="/received/{{email.id}}">
                <td scope="row">{{email.date | date:'short' }}</td>
                <td>{{ email.visited ? (email.title | lowercase) : ('new: '+email.title | uppercase)}}</td>
                <td>{{email.sender_email}}</td>
            </tr>
        </tbody>
    </table>
</div>