<p>emails-sent works!</p>

<div *ngIf="emails | async as e">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Title</th>
                <th scope="col">Recipient</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let email of e" routerLink="/sent/{{email.id}}">
                <td scope="row">{{email.date | date:'short' }}</td>
                <td>{{email.title}}</td>
                <td>{{email.recipient_email}}</td>
            </tr>
        </tbody>
    </table>
</div>