<hr>
<p></p>  
<div class="row">
    <div class="col-3">
        <!-- SIDEBAR -->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <a href="https://bitbucket.org/damianinqdn/workspace/projects/EM" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"></svg>
                <span class="fs-4">Email Sender</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a routerLink="/create" routerLinkActive="active" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16"></svg>
                        Create New
                    </a>
                </li>
                <hr>
                <li class="nav-item">
                    <a routerLink="/received" routerLinkActive="active" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16"></svg>
                        Received
                    </a>
                </li>
                <li>
                    <a routerLink="/sent" routerLinkActive="active" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16"></svg>
                        Sent
                    </a>
                </li>
            </ul>
            <hr>
        </div>



    </div>
    <div class="col-9">

        <!-- CONTENT -->

        <router-outlet></router-outlet>

    </div>
</div>