<p>email-create works!</p>

<form [formGroup]="emailForm">

    <label for="recipient">Recipient:</label>
    <input type="text" name="recipient" formControlName="recipient">

    <label for="title">Title:</label>
    <input type="text" name="title" formControlName="title">

    <label for="body"></label>
    <textarea name="body" cols="30" rows="10" 
        formControlName="body"></textarea>

    <button (click)="sendEmail()" class="btn btn-primary" [disabled]="!emailForm.valid">Send</button>
</form>