
<div *ngIf="email" class="container">
    <div class="col">
        <h5>Recipient: {{email.recipient_name}}<small> &#8249; {{email.recipient_email}} &#8250; </small></h5>
    </div>
    <div class="col">
        <p [innerHtml]="email.body"></p>
    </div>

</div>